<div class="vg-container">
  <div id="vg-header" class=
  "clearfix">

    {% if guide.endorsed %}
    <div id="vg-endorsed-stamp"><img src="/images/league_stamp.gif" /></div>
    {% endif %}

    <h1 class="vg-title">{{ guide.name }}</h1>

    <h4 class="vg-subtitle">{{ guide.city }}, {{ guide.state }}</h4>

    <h4 class="vg-date">{{ guide.date }}</h4>

    <div class="vg-public-url">
      {{ permalink | link_to: permalink }}
    </div>

    <div class="vg-description">
      <p>
        {{ guide.description }}
      </p>
    </div>

    {% if guide.pdf_link %}
    <div id="vg-doclink">
      <p class="vg-doclink_label">Download PDF of guide:</p>
      <p class="vg-filelink">
      <a href="{{ guide.pdf_link }}">
        <img src="/images/pdf.gif" border="0" />{{ guide.pdf_name }}
      </a>
      </p>
    </div>
    {% endif %}

    {% if guide.image_link %}
      <img src="{{ guide.image_thumb }}" />
    {% endif %}
  </div>

  <div id="vg-main_content">
    {% for contest in guide.contests %}
      <div class="vg-list_entry">
        <h2 class="vg-voter_item_title">{{ contest.name }}</h2>
        {% for choice in contest.choices %}

          {% if contest.type == 'Candidate' %}
            <h4 class="vg-listname"><span class=
            "name_label">Candidate:</span>
            <span class="vg-name_text">
            {{ choice.name }}</span></h4>
          {% endif %}

          {% if choice.selection %}
            <h4 class="vg-position"><span class=
            "vg-position_label">Endorsed Vote:</span>
            <span class="position_text">
            {{ choice.selection }}</span></h4>
          {% endif %}

          <p class="vg-text">{{ choice.description }}</p>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  
  <div id="vg-notify_link">
    if this guide is offensive, send email
    to: <a href=
      "mailto:voterguides@indyvoter.org?subject=issue%20with%20guide%20{{ guide.id }}">
    the League</a>
  </div>

  <div class="vg-designer-credit">
    this guide uses the {{ guide.theme.name }}
    design by <a href=
    "{{ guide.theme.author_url }}" target=
    "_blank">{{ guide.theme.author_name }}</a>
  </div>

  <div class="designer-contribute">
    wanna contribute a css design? <a href=
    "/designers">click here.</a>
  </div>
</div>